#saair {
        display: flex;
    }

    #sair {
        display: flex;
    }

    #divGeral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: 'Noto Sans';
        background-color: white;
        gap: 40px;
    }

    .divGraficos {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .divGraficos div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30vh;
    }
    .divFormularios{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    @media screen and (min-width: 800px) {
        .divGraficos div{
            width: 80%;
            height: 50vh;
        }
        .divFormularios{
            flex-direction: row;
        }
    }