#saair {/**/
        display: flex;/*deixa os elementos flexiveis*/
    }

    #sair {/**/
        display: flex;/*deixa os elementos flexiveis*/
    }

    div {/**/
        width: 100%;/*largura maxima*/
        text-align: center;/*alinha os textos no centro*/
    }

    #divGeral {/*div que pega tudo*/
        display: flex;/*deixa os elementos flexiveis*/
        flex-direction: column;/*deixa os elementos em coluna*/
        align-items: center;/*alinha os elementos na vertical*/
        justify-content: center;/*alinha os elementos na horizontal*/
        width: 100%;/*largura maxima*/
        font-family: 'Noto Sans';/*fonte da letra*/
        background-color: white;/*cor de fundo*/
        gap: 40px;/*espaçamento entre os elementos*/
    }

    .divGraficos {
        display: flex;/*deixa os elementos flexiveis*/
        align-items: center;/*alinha os elementos na vertical*/
        justify-content: center;/*alinha os elementos na horizontal*/
        width: 100%;/*largura maxima*/
    }

    .divGraficos div {
        display: flex;/*deixa os elementos flexiveis*/
        align-items: center;/*alinha na horizontal*/
        justify-content: center;/*alinha na vertical*/
        width: 100%;/*largura maxima*/
        height: 30vh;/*altura maxima*/
    }
    .divFormularios{
        flex-direction: column;/*deixa os elemementos em colunas*/
    }

    @media screen and (min-width: 700px) {
        .divGraficos div{
            width: 80%; /*largura maxima*/
            height: 50vh;/*altura maxima*/
        }
        .divFormularios{
            flex-direction: row;/**/
            gap: 40px;/*espaçamento entre os elementos*/
            width: 100%;/*largura maxima*/
        }
    }
    @media screen and (min-width: 1000px) {
        .divGraficos div{
            width: 70%;/*largura maxima*/
            height: 60vh;/*altura maxima*/
        }
        #divProd{
            display: grid;/*display grid (separar por colunas)*/
            grid-template-columns: repeat(4,1fr);/*vai repitir as colunas quatro vez de forma fracionada*/
        }
    }