:root { 
    --orange: #D75A00; /* Variável para a cor Laranja */
    --blue: #0066FF; /* Variável para a cor Azul */
}

* { /* PREENCHIMENTO DE TELA */
    margin: 0; /*margem externa*/
    padding: 0; /*margem interna*/
    box-sizing: border-box; /*eclui as margens padding, bordas e etc da contagem da dimenção do elemento*/
    font-family: sans-serif; /*tipo de fonte*/
    outline: 0; /*borda de fora do elemento*/
    text-decoration: none; /*tira a decoração padrão do texto*/
}  

/*CELULAR*/

hr {
    margin-top: 10px;
}
:root {
    --orange: #D75A00;
    --blue: #0066FF;
}

.fa-chevron-down {
    transition: all .3s ease; /* aplica uma transição de 3 milésimos de duração */
    font-size: 12px;
    font-weight: bold;
    height: fit-content; /* Altura fica de acordo com o espaço que os elementos dentro dele ocupam */
}
ul {
    list-style: none; /* A ul perde as bolinhas (características de listas não ordenadas) */
}
.flex {
    display: flex;
}

.mobile-nav {
    padding: 0px 10px;
}
.mobile-nav > .top {
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    align-items: center;
    padding: 15px 0px;
}

.mobile-nav > .top > .left {
    font-size: 24px;
}
.mobile-nav > .top > .left > i {
    cursor: pointer;
}

.mobile-nav .search-box {
    width: 100%;
    padding: 5px 0px;
}
.mobile-nav .search-box form {
    width: 100%;
}
.mobile-nav .search-box .text-box {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
}

.mobile-nav .search-box .text-box input {
    flex: 90%;
    border: none;
    background-color: #f0f0f0;
    padding: 13px;
}
.mobile-nav .search-box .text-box .button-container {
    flex: 0 0 10%;
}
.mobile-nav .search-box .text-box > .button-container button {
    background-color: rgb(211, 89, 2);
    color: #fff;
    font-weight: 600;
    border: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.menu-container .btnPhp {
    color: #000;
    transition: all .3s ease;
}
.box-opacity {
    background-color: #000000c0; /* Fundo preto semi-transparente */
    height: 100vh; /* vh = viewport height. 100vh = 100% da altura da viewport (tela) */
    width: 100%;
    position: fixed; /* Fica fixo na tela */
    top: 0;
    left: 0;
    z-index: 0; /* camada 0 de profundidade */
    display: none;
    transition: all .3s ease;
}
.menu-container {
    margin-left: -100%;
    position: fixed;
    background-color: #fff;
    height: 100vh;
    width: 80%;
    padding: 10px 20px;
    overflow-y: auto; /* Adiciona uma barra de rolagem caso o conteúdo ultrapasse os limites do elemento */
    z-index: 1; /* Camada 1 de profundidade */
    top: 0;
    transition: all .3s ease;
}
.menu-container .top {
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    align-items: center;
    padding: 0px 10px;
}
.menu-container .top .close {
    font-size: 22px;
    cursor: pointer;
    color: rgb(237, 79, 0);
}
.menu-container .menu-opt {
    margin-top: 20px;
}
.menu-container .menu-opt > ul > li > .item:hover,
.menu-container .menu-opt > ul > li > .item:hover > .btnPhp {
    color: rgb(237, 79, 0);
}
.menu-container .menu-opt > ul > li:not(:last-child) {
    margin-bottom: 10px;
}
.menu-container .menu-opt > ul > li > .item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.menu-container .menu-opt > ul > li > ul li {
    padding: 10px 20px;
}
.menu-container .menu-opt > ul > li > ul li:not(:last-child) {
    border-bottom: 1px solid rgb(217, 79, 0);
}

.menu-container .menu-opt .cascading-opt {
    height: 0px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.mobile-nav .top .right {
    justify-content: right;
    width: 35%;
}
.mobile-nav .top .right .cadastro {
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 15px;
}
.mobile-nav .top .right .login {
    color: #fff;
    padding: 5px 25px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 5px;
}

.menu-container .middle-box {
    margin-left: 10px;
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu-container .middle-box .carrinho {
    background-color: var(--blue);
    color: #fff;
    font-size: 1.2rem;
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
}
.menu-container .middle-box .carrinho .left {
    justify-content: center;
    align-items: center;
    background-color: #0055d5;
    width: 25%;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
}
.menu-container .middle-box .carrinho .right {
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 10px 0px;
}
.menu-container .middle-box .favoritos {
    background-color: var(--orange);
    color: #fff;
    font-size: 1.2rem;
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
}
.menu-container .middle-box .favoritos .left {
    width: 75%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.menu-container .middle-box .favoritos .right {
    background-color: #b64c00;
    width: 25%;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.2);
}

div.special {
    justify-content: space-between;
}


/*DESKTOP*/
.desktop-nav {/*quando for pra celular, esconde o do desktop*/
    display: none;/*deixa invisivel o elemento*/
}
/*IMAGEM DO DESK*/
.desktop-nav .left {
    padding: 10px;/*margem interna*/
    font-size: 35px;/*tamanho da fonte*/
    width: 20%;/*largura do elemento em 20%*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*alinha os elemento na horizontal*/
    align-items: center;/*alinha os itens no centro*/
}
/*ALINHAMENTO DAS OPÇÕES DO MENU*/
.desktop-nav .center {
    width: 60%;/*largura em 60%*/
    padding: 10px;/*margem interna*/
}
/*TITULOS DO MENU*/
.desktop-nav .center .btnPhp {
    color: #000;/*cor da letra*/
}
/*LISTA QUE CRIA O MEU*/
.desktop-nav .center ul {
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    list-style: none;/*tira qualquer estilo da escrita*/
    justify-content: space-between;/*deixa o mesmo tamanho de espaçamento na horizontal entre os elementos*/
}

/*OPÇÕES DA LISTA DO MENU*/
.desktop-nav .center ul li {
    position: relative;/*a posição é relativa*/
}
.desktop-nav .center .menu-opt > ul > li {
    position: relative;
    /* padding: 0px 30px; */
}
/*TITULO DAS OPÇÕES DA LISTA DO MENU*/
.desktop-nav .center ul li .btnPhp {
    transition: all .3s ease;/*cor da fonte*/
    /* color: #fff; */
}
/*EFEITO LARANJA NA LETRA*/
.desktop-nav .center ul li:hover .btnPhp {/*muda a cor do texto quando passa o mouse em cima*/
    color: var(--orange);/*cor da letra será laranja*/
}
.desktop-nav .center ul li:hover::after {/*forma uma linha laranja embaico da opção do menu*/
    content: "";/*para não aparecer nada na tela*/
    position: absolute;/*ele fica preso ao elemento*/
    bottom: -8px;/*margem debaixo*/
    right: 0;/*não tem distancia ao lado direito*/
    height: 3px;/*a altura é 3px*/
    border-radius: 20px;/*arredondamento das bordas*/
    background-color: var(--orange);/*cor de fundo*/
    animation: borderBottom forwards .3s;/*efeito mouse no menu*/
    width: 100%;/*largura*/
}

/*ANIMAÇÃO BORDINHA LARANJA*/

.desktop-nav .center > .menu-opt > ul > li:hover .btnPhp {
    color: var(--orange);
}
.desktop-nav .center > .menu-opt .cascading-opt > li:hover .btnPhp {
    color: var(--orange);
}
.desktop-nav .center .menu-opt > ul > li:hover::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 3px;
    border-radius: 20px;
    background-color: var(--orange);
    animation: borderBottom forwards .3s;
    width: 100%;
}

.desktop-nav .center .cascading-opt {
    z-index: 1;
    height: 0px;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    width: 100px;
    padding: 0px 5px;
    transition: all .05s ease;
}
.desktop-nav .center .menu-opt .cascading-opt > li {
    padding: 5px 0px;
}
.desktop-nav .center .menu-opt .cascading-opt > li:not(:last-child) {
    border-bottom: 1px solid var(--orange);
}
.desktop-nav .center .menu-opt .cascading-opt > li > .btnPhp {
    font-weight: normal;
}

.desktop-nav .center .menu-opt > ul > li:nth-child(2):hover > ul {
    height: 200px;
}

.desktop-nav .center .pecas-opt {
    z-index: 1;
    height: 0px;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    width: 150px;
    padding: 0px 5px;
    transition: all .05s ease;
}
.desktop-nav .center .menu-opt .pecas-opt > li {
    padding: 5px 0px;
}
.desktop-nav .center .menu-opt .pecas-opt > li:not(:last-child) {
    border-bottom: 1px solid var(--orange);
}
.desktop-nav .center .menu-opt .pecas-opt > li > .btnPhp {
    font-weight: normal;
}

.desktop-nav .center .menu-opt > ul > li:nth-child(1):hover > ul {
    height: 350px;
}

@keyframes borderBottom {
    from {
        width: 0px;/*não tem largura*/
    } to {
        width: 100%;/*largura*/
    }
}

/**/
.desktop-nav .center .text-box {
    width: 100%;/*largura*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    margin-top: 20px;/*margem de cima do elemento*/
    border-radius: 5px;/*arredondamento das bordas*/
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.142);/*sombra das text-box*/
}
.desktop-nav .center .text-box input {
    flex: 0 0 90%;/*largura de 90%*/
    padding: 12px;/*margem interna*/
    border: none;/* sem borda*/
    border-radius: 5px 0px 0px 5px;/*arredondamento das bordas*/
    background-color: #f0f0f0;/*cor da letra*/
}
.desktop-nav .center .text-box button {/**/
    width: 10%;/*largura*/
    border: none;/*sem borda*/
    border-radius: 0px 5px 5px 0px;/*arredondamento das bordas*/
    background-color: var(--orange);/*cor de fundo*/
    color: #fff;/*cor da letra*/
    cursor: pointer;/*tipo do mouse:mão*/
    transition: all 0.2s ease;/*cor de fundo*/
}
.desktop-nav .center .text-box button:hover {/**/
    background-color: #de6108;/*cor de fundo*/
}

.desktop-nav .right {/**/
    width: 20%;/*largura*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    flex-direction: column;/*joga os elementos para baixo, como uma coluna*/
    align-items: center;/*alinha os itens no centro*/
}

.desktop-nav .cadastro-login {/**/
    height: 50%;/*altura que o elemento começa*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*alinha os elementos no centro*/
    align-items: center;/*alinhas os itens no centro*/
}
.cadastro-login .cadastro {/**/
    border: 2px solid var(--orange);/*borda da grossura 2px, sera sólida, tem a cor laranja*/
    padding: 8px 12px;/*margem interna, altura e largura*/
    border-radius: 8px;/*arredondamento das bordas*/
    color: var(--orange);/*cor da letra*/
    font-weight: 600;/*letra em negrito*/
    margin-right: 15px;/*margem da parte direita*/
}
.cadastro-login .login {/**/
    background-color: var(--orange);/*cor de fundo*/
    padding: 9px 15px;/*margem interna, altura e largura*/
    border-radius: 5px;/*arredondamento das bordas*/
    color: #fff;/*cor da letra*/
    font-weight: 600;/*letra em negrito*/
}

.desktop-nav .carrinho-btn {/**/
    background-color: var(--blue);/*cor de fundo*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: space-between;/*deixa o mesmo espaçodos elementos na horizontal*/
    align-items: center;/*alinha os itens no centro*/
    max-height: 40px;/*altura máxima*/
    line-height: normal;/*espaçamento na vertical entre as linhas*/
    padding: 10px;/*margem interna, altura e largura*/
    width: 100%;/*laruramáxima*/
    margin-right: 20px;/*margem na parte direita*/
    border-radius: 5px;/*arredondamneto das bordas*/
    cursor: pointer;/*estilo do mouse: mão*/
    transition: all .2s ease;/*cor do botão para mais escuro */
    color: #fff;/*cor da letra*/
}
.desktop-nav .carrinho-btn .left {/**/
    font-size: 20px;/*tamanho da letra*/
}
.desktop-nav .carrinho-btn:hover {/**/
    background-color: #005de9;/*cor de fundo*/
}
.desktop-nav .carrinho-btn .center span {/**/
    display: block;/*transforma em boco*/
}
.desktop-nav .carrinho-btn .center {/**/
    text-align: left;/*alinhado a esquerda*/
    font-size: 15px;/*tamanho da letra*/
}

.btnPhp{
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #00000000;
    font-size: 16px;
}

@media only screen and (min-width: 900px) {/**/
    .mobile-nav, .menu-container, .box-opacity {
        display: none;/*deixa invisivel o elemento*/
    }
    .desktop-nav img{
        width: 150px;    /*largura*/
    }
    .desktop-nav {
        display: flex;/*ele coloca os elementos em linha na horizontal*/
    }
}