* { /* PREENCHIMENTO DE TELA */
    margin: 0; /*margem externa*/
    padding: 0; /*margem interna*/
    box-sizing: border-box; /*eclui as margens padding, bordas e etc da contagem da dimenção do elemento*/
    font-family: sans-serif; /*tipo de fonte*/
    outline: 0; /*borda de fora do elemento*/
    text-decoration: none; /*tira a decoração padrão do texto*/
}  

/*CELULAR*/

hr {/*linha*/
    margin-top: 10px; /*margem externa na parte superior*/
}
:root {/*variaveis*/
    --orange: #D75A00;/*cor laranja*/
    --blue: #0066FF;/*cor azul*/
}

.fa-chevron-down {
    transition: all .3s ease; /* aplica uma transição de 3 milésimos de duração */
    font-size: 12px;/*tamanho da letra*/
    font-weight: bold;/*negrito*/
    height: fit-content; /* Altura fica de acordo com o espaço que os elementos dentro dele ocupam */
}
ul {
    list-style: none; /* A ul perde as bolinhas (características de listas não ordenadas) */
}
.flex {
    display: flex;/*deixa os elementos flexiveis*/
}

.mobile-nav {
    padding: 0px 10px;/*margem interna*/
}
.mobile-nav > .top {
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    align-items: center;/*alinha os itens na horizontal*/
    padding: 15px 0px;/*margem interna*/
}

.mobile-nav > .top > .left {
    font-size: 24px;/*tamanho da letra*/
}
.mobile-nav > .top > .left > i {
    cursor: pointer;/*tipo do mouse*/
}

.mobile-nav .search-box {
    width: 100%;/*largura maxima*/
    padding: 5px 0px;/*margem interna*/
}
.mobile-nav .search-box form {
    width: 100%;/*largura maxima*/
}
.mobile-nav .search-box .text-box {
    width: 100%;/*largura maxima*/
    overflow: hidden;/*esconde tudo que ultrapassa a borda*/
    border-radius: 5px;/*arredondamento da borda*/
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);/*sombreamento*/
}

.mobile-nav .search-box .text-box input {
    flex: 90%;/*ocupação da tela*/
    border: none;/*não existe borda*/
    background-color: #f0f0f0;/*cor de fundo*/
    padding: 13px;/*margem interna*/
}
.mobile-nav .search-box .text-box .button-container {
    flex: 0 0 10%;/*ocupação*/
}
.mobile-nav .search-box .text-box > .button-container button {
    background-color: rgb(211, 89, 2);/*cor de fundo*/
    color: #fff;/*cor da letra*/
    font-weight: 600;/*nerito*/
    border: none;/*não existe borda*/
    height: 100%;/*altura maxima*/
    width: 100%;/*largura maxima*/
    padding: 10px;/*margem interna*/
    cursor: pointer;/*tipo de mouse*/
}
.menu-container .btnPhp {
    color: #000;/*cor da letra*/
    transition: all .3s ease;/*transição de movimento*/
}
.box-opacity {
    background-color: #000000c0; /* Fundo preto semi-transparente */
    height: 100vh; /* vh = viewport height. 100vh = 100% da altura da viewport (tela) */
    width: 100%;/*largura maxima*/
    position: fixed; /* Fica fixo na tela */
    top: 0;/*começa do topo*/
    left: 0;/*começa da esquerda*/
    z-index: 0; /* camada 0 de profundidade */
    display: none;/*fica invisivel*/
    transition: all .3s ease;/*transição de movimento*/
}
.menu-container {
    margin-left: -100%;/*margem externa na parte esquerda*/
    position: fixed;/*posição fixada, não pode ser mover*/
    background-color: #fff;/*cor de fundo*/
    height: 100vh;/*altura maxima*/
    width: 80%;/*largura maxima*/
    padding: 10px 20px;/*margem interna*/
    overflow-y: auto; /* Adiciona uma barra de rolagem caso o conteúdo ultrapasse os limites do elemento */
    z-index: 1; /* Camada 1 de profundidade */
    top: 0;/*começa de cima*/
    transition: all .3s ease;/*transição de movimento*/
}
.menu-container .top {
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    align-items: center;/*alinhas os itens na horizontal*/
    padding: 0px 10px;/*margem interna*/
}
.menu-container .top .close {
    font-size: 22px;/*tamanho da letra*/
    cursor: pointer;/*tipo de mouse*/
    color: rgb(237, 79, 0);/*cor da letra*/
}
.menu-container .menu-opt {
    margin-top: 20px;/*margem externa da parte superior*/
}
.menu-container .menu-opt > ul > li > .item:hover,
.menu-container .menu-opt > ul > li > .item:hover > .btnPhp {
    color: rgb(237, 79, 0);/*cor da letra*/
}
.menu-container .menu-opt > ul > li:not(:last-child) {
    margin-bottom: 10px;/*margem externa na parte inferior*/
}
.menu-container .menu-opt > ul > li > .item {
    padding: 5px 10px;/*margem interna*/
    cursor: pointer;/*tipo de mouse*/
    transition: all .3s ease;/*transição de movimento*/
}
.menu-container .menu-opt > ul > li > ul li {
    padding: 10px 20px;/*margem interna*/
}
.menu-container .menu-opt > ul > li > ul li:not(:last-child) {
    border-bottom: 1px solid rgb(217, 79, 0);/*borda na parte inferior*/
}

.menu-container .menu-opt .cascading-opt {
    height: 0px;/*altura maxima*/
    overflow: hidden;/*esconde tudo que ultrapassa a borda*/
    transition: all .3s ease-in-out;/*transição de movimeto*/
}

.mobile-nav .top .right {
    justify-content: right;/*alinha na vertical a direita*/
    width: 35%;/*largura maxima*/
}
.mobile-nav .top .right .cadastro {
    color: var(--blue);/*cor da letra*/
    border: 2px solid var(--blue);/*borda na espeçura de 2px, solida e com a cor azul*/
    padding: 5px 10px;/*margem interna*/
    font-weight: 600;/*negrito*/
    border-radius: 5px;/*arredondamento da borda*/
    margin-right: 15px;/*margem externa da parte direita*/
}
.mobile-nav .top .right .login {
    color: #fff;/*cor da letra*/
    padding: 5px 25px;/*margem interna*/
    font-weight: 600;/*negrito*/
    justify-content: center;/*centraliza os itens na vertical*/
    align-items: center;/*centraliza os itens na horizontal*/
    background-color: var(--blue);/*cor de fundo*/
    border-radius: 5px;/*arredondamento da borda*/
}

.menu-container .middle-box {
    margin-left: 10px;/*maregm externa da parte esquerda*/
    justify-content: space-between; /* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
    margin-top: 20px;/*maregm externa da parte superior*/
    margin-bottom: 20px;/*margem externa da parte inferior*/
}
.menu-container .middle-box .carrinho {
    background-color: var(--blue);/**/
    color: #fff;/*cor da letra*/
    font-size: 1.2rem;/*tamanho da letra*/
    width: 45%;/*largura maxima*/
    border-radius: 5px;/*arredondamento da borda*/
    overflow: hidden;/*esconde tudo que ultrapassar a borda*/
}
.menu-container .middle-box .carrinho .left {
    justify-content: center;/*centraliz os lementos a vertical*/
    align-items: center;/*centraliza os elementos na horizontal*/
    background-color: #0055d5;/*cor de fundo*/
    width: 25%;/*lagura maxima*/
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);/*sombreamento*/
    padding: 10px 0px;/*margem interna*/
}
.menu-container .middle-box .carrinho .right {
    align-items: center;/*alinha os itens na horizontal*/
    justify-content: center;/*alinha os itens na vertical*/
    width: 75%;/*largura maxima*/
    padding: 10px 0px;/*margem interna*/
}
.menu-container .middle-box .favoritos {
    background-color: var(--orange);/*cor de fundo*/
    color: #fff;/*cor da letra*/
    font-size: 1.2rem;/*tamanho da letra*/
    width: 45%;/*largura maxima*/
    border-radius: 5px;/*arredondamento da borda*/
    overflow: hidden;/*não deixa nada ultrapassar a borda*/
}
.menu-container .middle-box .favoritos .left {
    width: 75%;/*largura maxima*/
    justify-content: center;/*alinha os elementos na vertical*/
    align-items: center;/*alinha os elementos na horizontal*/
    padding: 10px 0px;/*margem interna*/
}
.menu-container .middle-box .favoritos .right {
    background-color: #b64c00;/*cor de fundo*/
    width: 25%;/*largura maxima*/
    justify-content: center;/*alinha os elementos na vertical*/
    align-items: center;/*alinha os elementos na horizontal*/
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.2);/*sombreamento*/
}

div.special {
    justify-content: space-between;/* Deixa um espaço apenas no meio dos elementos (extremidades ficam sem margem) */
}


/*DESKTOP*/
.desktop-nav {/*quando for pra celular, esconde o do desktop*/
    display: none;/*deixa invisivel o elemento*/
    background-color: #fff;/*cor de fundo*/
}
/*IMAGEM DO DESK*/
.desktop-nav .left {
    padding: 10px;/*margem interna*/
    font-size: 35px;/*tamanho da fonte*/
    width: 20%;/*largura do elemento em 20%*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*alinha os elemento na horizontal*/
    align-items: center;/*alinha os itens no centro*/
}
/*ALINHAMENTO DAS OPÇÕES DO MENU*/
.desktop-nav .center {
    width: 60%;/*largura em 60%*/
    padding: 10px;/*margem interna*/
}
/*TITULOS DO MENU*/
.desktop-nav .center .btnPhp {
    color: #000;/*cor da letra*/
}
/*LISTA QUE CRIA O MEU*/
.desktop-nav .center ul {
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    list-style: none;/*tira qualquer estilo da escrita*/
    justify-content: space-between;/*deixa o mesmo tamanho de espaçamento na horizontal entre os elementos*/
}

/*OPÇÕES DA LISTA DO MENU*/
.desktop-nav .center ul li {
    position: relative;/*a posição é relativa*/
}
.desktop-nav .center .menu-opt > ul > li {
    position: relative;/*posição relativa, deixa os objetos se moverem*/
}
/*TITULO DAS OPÇÕES DA LISTA DO MENU*/
.desktop-nav .center ul li .btnPhp {
    transition: all .3s ease;/*transição de movimento*/
}
/*EFEITO LARANJA NA LETRA*/
.desktop-nav .center ul li:hover .btnPhp {/*muda a cor do texto quando passa o mouse em cima*/
    color: var(--orange);/*cor da letra será laranja*/
}
.desktop-nav .center .menu-opt > ul > li:hover::after {/*forma uma linha laranja embaico da opção do menu*/
    content: "";/*para não aparecer nada na tela*/
    position: absolute;/*ele fica preso ao elemento*/
    bottom: -8px;/*margem debaixo*/
    right: 0;/*não tem distancia ao lado direito*/
    height: 3px;/*a altura é 3px*/
    border-radius: 20px;/*arredondamento das bordas*/
    background-color: var(--orange);/*cor de fundo*/
    animation: borderBottom forwards .3s;/*efeito mouse no menu*/
    width: 100%;/*largura*/
}

/*ANIMAÇÃO BORDINHA LARANJA*/

.desktop-nav .center > .menu-opt > ul > li:hover  {
    color: var(--orange);/*cor da letra*/
}
.desktop-nav .center > .menu-opt .cascading-opt > li:hover {
    color: var(--orange);/*cor da letra*/
}
.desktop-nav .center .menu-opt > ul > li:hover::after {
    content: "";/*elemento vazio*/
    position: absolute;/*posição absoluta, não pode se mover*/
    bottom: -8px;/*botão*/
    right: 0;/*começa na parte direita*/
    height: 3px;/*altura maxima*/
    border-radius: 20px;/*arredondamento da borda*/
    background-color: var(--orange);/*cor de fundo*/
    animation: borderBottom forwards .3s;/*animação de movimento*/
    width: 100%;/*largura maxima*/
}

.desktop-nav .center .cascading-opt {
    z-index: 1;/*sobrepor elementos*/
    height: 0px;/*altura maxima*/
    overflow-y: hidden;/*esconde tudo que ultrapassar a borda*/
    position: absolute;/*posição absoluta, não pode mover o elemento*/
    left: 0;/*começa na esquerda*/
    justify-content: space-evenly;/**/
    flex-direction: column;/*deixa os elementos el coluna*/
    background-color: #fff;/*cor de fundo*/
    width: 100px;/*largura maxima*/
    padding: 0px 5px;/*margem interna*/
    transition: all .05s ease;/*transição de movimento*/
}
.desktop-nav .center .menu-opt .cascading-opt > li {
    padding: 5px 0px;/*margem interna*/
}
.desktop-nav .center .menu-opt .cascading-opt > li:not(:last-child) {
    border-bottom: 1px solid var(--orange);/*borda na parte inferior*/
}
.desktop-nav .center .menu-opt .cascading-opt > li > .btnPhp {
    font-weight: normal;/*sem negrito*/
}

.desktop-nav .center .menu-opt > ul > li:nth-child(2):hover > ul {
    height: 200px;/*altura maxima*/
}

.desktop-nav .center .pecas-opt {
    z-index: 1;/*subrepor os elementos*/
    height: 0px;/*altura maxima*/
    overflow-y: hidden;/*esconde tudo que ultrapassar a borda*/
    position: absolute;/*posição absoluta, não pode se mexer*/
    left: 0;/*comeca a esquerda*/
    justify-content: space-evenly;/**/
    flex-direction: column;/*deixa os elementos em coluna*/
    background-color: #fff;/*cor de fundo*/
    width: 150px;/*largura maxima*/
    padding: 0px 5px;/*margem interna*/
    transition: all .05s ease;/*transião de movimento*/
}
.desktop-nav .center .menu-opt .pecas-opt > li {
    padding: 5px 0px;/*margem interna*/
}
.desktop-nav .center .menu-opt .pecas-opt > li:not(:last-child) {
    border-bottom: 1px solid var(--orange);/*borda na parte inferior*/
}
.desktop-nav .center .menu-opt .pecas-opt > li > .btnPhp {
    font-weight: normal;/*sem negrito*/
}

.desktop-nav .center .menu-opt > ul > li:nth-child(1):hover > ul {
    height: 350px;/*altura maxima*/
}

@keyframes borderBottom {
    from {
        width: 0px;/*não tem largura*/
    } to {
        width: 100%;/*largura*/
    }
}

/**/
.desktop-nav .center .text-box {
    width: 100%;/*largura*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    margin-top: 20px;/*margem de cima do elemento*/
    border-radius: 5px;/*arredondamento das bordas*/
    box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.142);/*sombra das text-box*/
}
.desktop-nav .center .text-box input {
    flex: 0 0 90%;/*largura de 90%*/
    padding: 12px;/*margem interna*/
    border: none;/* sem borda*/
    border-radius: 5px 0px 0px 5px;/*arredondamento das bordas*/
    background-color: #f0f0f0;/*cor da letra*/
}
.desktop-nav .center .text-box button {/**/
    width: 10%;/*largura*/
    border: none;/*sem borda*/
    border-radius: 0px 5px 5px 0px;/*arredondamento das bordas*/
    background-color: var(--orange);/*cor de fundo*/
    color: #fff;/*cor da letra*/
    cursor: pointer;/*tipo do mouse:mão*/
    transition: all 0.2s ease;/*cor de fundo*/
}
.desktop-nav .center .text-box button:hover {/**/
    background-color: #de6108;/*cor de fundo*/
}

.desktop-nav .right {/**/
    width: 20%;/*largura*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    flex-direction: column;/*joga os elementos para baixo, como uma coluna*/
    align-items: center;/*alinha os itens no centro*/
}

.desktop-nav .cadastro-login {/**/
    height: 50%;/*altura que o elemento começa*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*alinha os elementos no centro*/
    align-items: center;/*alinhas os itens no centro*/
}
.cadastro-login .cadastro {/**/
    border: 2px solid var(--orange);/*borda da grossura 2px, sera sólida, tem a cor laranja*/
    padding: 8px 12px;/*margem interna, altura e largura*/
    border-radius: 8px;/*arredondamento das bordas*/
    color: var(--orange);/*cor da letra*/
    font-weight: 600;/*letra em negrito*/
    margin-right: 15px;/*margem da parte direita*/
}
.cadastro-login .login {/**/
    background-color: var(--orange);/*cor de fundo*/
    padding: 9px 15px;/*margem interna, altura e largura*/
    border-radius: 5px;/*arredondamento das bordas*/
    color: #fff;/*cor da letra*/
    font-weight: 600;/*letra em negrito*/
}

.desktop-nav .carrinho-btn {/**/
    background-color: var(--blue);/*cor de fundo*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*deixa o mesmo espaçodos elementos na horizontal*/
    align-items: center;/*alinha os itens no centro*/
    max-height: 40px;/*altura máxima*/
    line-height: normal;/*espaçamento na vertical entre as linhas*/
    padding: 10px;/*margem interna, altura e largura*/
    width: 100%;/*laruramáxima*/
    margin-right: 20px;/*margem na parte direita*/
    border-radius: 5px;/*arredondamneto das bordas*/
    cursor: pointer;/*estilo do mouse: mão*/
    transition: all .2s ease;/*cor do botão para mais escuro */
    color: #fff;/*cor da letra*/
}
.desktop-nav .carrinho-btn .left {/**/
    font-size: 20px;/*tamanho da letra*/
}
.desktop-nav .carrinho-btn:hover {/**/
    background-color: #005de9;/*cor de fundo*/
}

.desktop-nav .favoritos-btn {/**/
    background-color: var(--orange);/*cor de fundo*/
    display: flex;/*ele coloca os elementos em linha na horizontal*/
    justify-content: center;/*deixa os elementos centralizados na horizontal*/
    align-items: center;/*alinha os itens no centro*/
    max-height: 40px;/*altura máxima*/
    padding: 10px;/*margem interna, altura e largura*/
    width: 100%;/*laruramáxima*/
    border-radius: 5px;/*arredondamneto das bordas*/
    cursor: pointer;/*estilo do mouse: mão*/
    transition: all .2s ease;/*cor do botão para mais escuro */
    color: #fff;/*cor da letra*/
}
.desktop-nav .favoritos-btn .left {/**/
    font-size: 20px;/*tamanho da letra*/
}
.desktop-nav .cart-container {/**/
    display: flex;
    width: 70%;
    gap: 10px;
}
.desktop-nav .favoritos-btn:hover {/**/
    background-color: #c05000;/*cor de fundo*/
}

.btnPhp{
    font-family: sans-serif;/*tipo de letra*/
    font-weight: 100;/*negrito*/
    margin: 0;/*margem externa*/
    padding: 0;/*margem interna*/
    border: none;/*não existe borda*/
    background-color: #00000000;/*cor de fundo*/
    font-size: 16px;/*tamanho da letra*/
}

@media only screen and (min-width: 900px) {/**/
    .mobile-nav, .menu-container, .box-opacity {
        display: none;/*deixa invisivel o elemento*/
    }
    .desktop-nav img{
        width: 150px;    /*largura*/
    }
    .desktop-nav {
        display: flex;/*ele coloca os elementos em linha na horizontal*/
    }
}