@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');/*Importando font que usaremos no site*/
*{margin: 0;padding: 0;font-family: Noto Sans;}/*definições padrões para a página, como o tipo da font e margens 0*/

#divContainer{
    margin-left: 60px;
    margin-right: 60px;
}
.divTitulo{
    font-size: 18px;
}
.h1Texto{
    font-size: 24px;
}
.divDireita, .divEsquerda, .divMeio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.divEsquerda div, .divMeio div, .divDireita div{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.divDescr{
    height: 200px;
    background-color: antiquewhite;
}

.btnProdutos{
    height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid orange;
}
.btnLaranja{
    height: 40px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid white;
}
.btnProdutos a {
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 1100px) { 
    #divContainer{/*Div que pega todos os elementos*/
        display: grid;/*display grid (separar por colunas)*/
        grid-template-columns: repeat(3,1fr);/*vai repitir as colunas quatro vez de forma fracionada*/
    }
    .divTitulo{
        grid-column-start: 1;/*começa na primeira coluna*/
        grid-column-end: 4;/* termina na quinta*/
    }
    .divEsquerda{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .divMeio{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .divDireita{
        grid-column-start: 3;
        grid-column-end: 4;

    }
}