@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');/*Importando font que usaremos no site*/
*{  margin: 0;
    padding: 0;
    font-family: Noto Sans;}/*definições padrões para a página, como o tipo da font e margens 0*/


/*VERSÃO PARA CELULAR*/

/*TEXTOS*/
.pTexto{/*desc do produto*/
    font-size: 13px;/*tamanho da letra*/
}
.pPreco{/*preço do produto*/
    font-size: 25px;/*Tamanho da letra*/
    color: rgb(0, 165, 0);/*Cor da letra*/
    font-weight: 600;/*Negrito da letra*/
}
.pTitulo{
    margin-top: 40px;/*margem de 40px*/
    font-size: 18px;/*tamanho da letra*/
}
.pverm{/*texto que aparece em vermelho*/
    margin-bottom: -5px;/*margem de 5px para cima*/
    color: rgb(255, 0, 0);/*cor da letra*/
    font-size: 15px;/*tamanho da letra*/
}
.pverm label{
    text-decoration: line-through;/*texto ficar com risco no meio*/
}

/*IMAGENS*/
.divImg{/*img dos produtos*/
    width: 200px;/*largura de 200px*/
    height: 200px;
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}
.divTitulo img{/*img do titulo grande*/
    width: 60px;/*largura de 60px*/
}
.fa-heart{/*icone de coração*/
    font-size: 25px;/*tamanho da letra (do icone em si)*/
    
    color: #D75A00;/*cor da letra (do icone em si)*/
}

/*DIVS*/
#divContainer{/*Div que pega todos os elementos*/
    padding: 60px;/*margem interna de 60px*/
    display: grid;/*display grid (separar por colunas)*/
    grid-template-columns: repeat(1,1fr);/*vai repitir as colunas uma vez de forma fracionada*/
    gap: 30px;/*margem entre os elementos internos de 30px*/
}
.divTitulo{/*div q tem o titulo grande e a img*/
    width: 100%;/*tamanho de 100%*/
    grid-column-start: 1;/*começa na primeira coluna*/
    grid-column-end: 2;/*termina na segunda coluna*/
    display: flex;/*display flex*/
    gap: 20px;/*margem entre os elementos de 20px*/
    align-items: center;/*alinhamento central*/
}
.formProd{
    height: 60vh;
    transition: all 0.5s;/*transição de 0.5 segundos*/
    overflow: hidden;
    border-radius: 20px;/*curva da borda de 20px*/
    border: solid 1px rgba(120, 120, 120, 0.321);/*borda cor e tamanho*/
    box-shadow: 3px 3px 3px 2px rgba(212, 212, 212, 0.338);/*sombra*/
}
.divProduto{/*div do produto em si*/
    height: 100%;
    overflow: hidden;/*o que sair da div fica escondido*/
    position: relative;/*posição relativa*/
    padding: 20px;/*margem interna*/
    display: flex;/*display flex*/
    flex-direction: column;/*elementos posicionados em forma de coluna*/
    justify-content: center;/*alinhamento central*/
    align-items: center;/*alinhamento central*/
}
.divTextos{/*div dos textos*/
    display: flex;/*display flex*/
    gap: 10px;/*margem entre os elementos de 10px*/
    flex-direction: column;/*elementos posicionados em forma de coluna*/
}
.divProduto div div{/*div do preço e btn azul do carrinho*/
    display: flex;/*display flex*/
    flex-direction: row;/*elementos posicionados em forma de linha*/
    align-items: center;/*alinhamento central*/
    justify-content: space-between;/*espaçamento entre os elementos iguais os colocando nas bordas*/
}
.divazul{/*div do carrinho*/
    background-color: #0066FF;/*cor de fundo*/
    padding: 10px;/*margem interna de 10px*/
    border-radius: 10px;/*curvatura da borda dessa div*/
    color:aliceblue;/*cor do texto*/
    font-size: 20px;/*tamanho da letra*/
    text-align: center;/*texto alinhado centralmente*/
}
.formProd:hover{/*div do produto qnd passa o mouse em cima*/
    border: solid 1px #d26b20bb;/*borda laranja ativa*/
    transform: scale(1.03);/*aumenta um pouco a div*/
    cursor: pointer;/*cursor fica possivel clicar*/
}
.btnCoracao{
    position: absolute;
    top: 15px;/*distancia do top*/
    right: 15px;/*distancia da direita*/
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.btnCarrinho{
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.submit{
    z-index: 1;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}
/*VERSÃO PARA TABLET*/
@media only screen and (min-width: 620px) {  
    #divContainer{/*Div que pega todos os elementos*/
        display: grid;/*display grid (separar por colunas)*/
        grid-template-columns: repeat(2,1fr);/*vai repitir as colunas duas vezes de forma fracionada*/
    }
    .divTitulo{
        grid-column-start: 1;/*começa na primeira coluna*/
        grid-column-end: 3;/* termina na terceira*/
    }
}

/*VERSÃO PARA COMPUTADOR*/
@media only screen and (min-width: 950px) { 
    #divContainer{/*Div que pega todos os elementos*/
        display: grid;/*display grid (separar por colunas)*/
        grid-template-columns: repeat(3,1fr);/*vai repitir as colunas quatro vez de forma fracionada*/
    }
    .divTitulo{
        grid-column-start: 1;/*começa na primeira coluna*/
        grid-column-end: 4;/* termina na quinta*/
    }
}

@media only screen and (min-width: 1200px) { 
    #divContainer{/*Div que pega todos os elementos*/
        display: grid;/*display grid (separar por colunas)*/
        grid-template-columns: repeat(4,1fr);/*vai repitir as colunas quatro vez de forma fracionada*/
    }
    .divTitulo{
        grid-column-start: 1;/*começa na primeira coluna*/
        grid-column-end: 5;/* termina na quinta*/
    }
}