@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');/*Importando font que usaremos no site*/
*{margin: 0;padding: 0;font-family: "Noto Sans";}/*definições padrões para a página, como o tipo da font e margens 0*/

/*CONFIGURAÇÃO PARA CELULAR*/

/*CONFIGURAÇÕES DOS BOTÕES*/
.btnAzul{/*botão com fundo azul*/
    background-color: #0066FF;/*cor de fundo do botão*/
    color: white;/*cor da fonte*/
    border: 3px solid white;/*borda*/
    height: 35px;/*altura do btn*/
    width: 90%;/*largura do btn*/
    font-size: 16px;/*tamanho do btn*/
    padding: 5px;/*margem interna*/
    border-radius: 5px;/*curvatura do btn*/
    font-family: "Noto Sans";/*tipo de fonte*/
    border: 3px solid #0066FF;/*borda*/
}
.btnBranco{/*botão com fundo branco*/
    border-radius: 5px;/*curvatura do btn*/
    height: 35px;/*btn altura*/
    width: 90%;/*btn largura*/
    font-size: 16px;/*tamanho da fonte*/
    font-family: "Noto Sans";/*tipo de fonte*/
    background-color: white;/*cor de fundo*/
    color: #0066FF;/*cor da fonte*/
    border: 3px solid #0066FF;/*borda*/
    padding: 5px;/*margem interna*/
    font-weight: 600;/*negrito*/
}
textarea {
    border: none;/*não tem borda*/
    resize: none;/*deixa o elemento do mesmo tamanho, independente da tela*/
    background-color: white;/*cor de fundo*/
    color: black;/*cor da letra*/
    font-size: 17px;/*tamaho da letra*/
    width: 100%;/*largura maxima*/
    height: 100%;/*altura maxima*/
  }
  .divTeste div{
    width: 100%;/*largura maxima*/
    height: 300px;/*altura maxima*/
  }
  .divTeste{
    width: 100%;/*largura maxima*/
  }
/*CONFIGURAÇÕES DOS TEXTOS*/
p{
    margin: 0;/*margem de fora = a 0*/
    padding: 0;/*margem de dentro = a 0*/
}
.pTexto{/*desc do produto*/
    font-size: 15px;/*tamanho da letra*/
    text-indent: 40px;/*distancia de paragrafo de 40px*/
}
.pPreco{/*preço do produto*/
    font-size: 15px;/*Tamanho da letra*/
    color: rgb(0, 165, 0);/*Cor da letra*/
    font-weight: 600;/*Negrito da letra*/
}
.pPreco label{
    font-size: 24px;/*Tamanho da letra*/
}
.pTitulo{
    font-size: 23px;/*tamanho da letra*/
    font-weight: 600;/*negrito na fonte*/
}

/*CONFIGURAÇÕES DIVS*/
.divTextos{
    display: flex;/*display flex*/
    gap: 15px;/*distancia entre elementos de 15px*/
    flex-direction: column;/*elementos alinhados em coluna*/
    justify-content: center;/*elementos alinhados*/
    align-items: center;/*elementos alinhados*/
}
.divSelect{/*div que tem o select (quantidade de cada produto)*/
    display: flex;/*display flex*/
    align-items: center;/*elementos alinhados*/
    gap: 10px;/*distancia entre os elemento de 10px*/
    width: 100%;/*largura de 100%*/
}
#divContainer{/*div que vai ocupar a tela inteira*/
    display: flex;/*display flex*/
    flex-direction: column;/*elemeneto em posição de linha*/
}
#divDireita{/*div que pega os elementos que estão na direita da página*/
    width: 100%;/*largura de 50% da divContainer*/
    display: flex;/*display flex*/
    flex-direction: column;/*posição do flex coluna*/
    align-items: center;/*elementos alinhados no centro*/
    justify-content: start;/*elementos alinhados no centro*/
    margin-top: 20px;/*margem top de 20px*/
    padding: 20px;/*margem interna de 20px*/
}
.divTudo{/*div que tem tudo*/
    width: 85%;/*largura de 85%*/
}
#divEsquerda{/*div que pega os elementos que estão na direita da página*/
    width: 100%;/*largura de 50% da divContainer*/
    display: flex;/*display flex*/
    flex-direction: column;/*posição do flex coluna*/
    align-items: center;/*elementos alinhados no centro*/
    justify-content: center;/*elementos alinhados no centro*/
    margin-top: 20px;/*margem top de 20 px*/
}
#divProduto{
    border-radius: 20px;/*curvatura da borda*/
    border:solid 3px #D75A00;/*borda: cor, tamanho, tipo*/
    padding: 20px;/*margem interna de 20px*/
    position: relative;/*posição relativa*/
    display: flex;/*deixa os elementos flexiveis*/
    justify-content: center;/*alinha na vertical*/
    align-items: center;/*alinha na horizontal*/
    width: 45vh;/*largura de 60% da divEsquerda*/
    height: 45vh;/*largura de 60% da divEsquerda*/
}
#divPagamento{
    display: flex;/*podemos manipular todos os elementos filhos desse flex container com propriedades novas.*/
    align-items: center;/*alinhando elementos verticalmente no centro*/
    justify-content: space-around;/*distancia horizontal entre as imagens*/
    border-radius: 12px;/*curvatura da borda*/
    border:solid 3px #D75A00;/*borda: cor, tamanho, tipo*/
    width: 60%;/*largura de 60% da divEsquerda*/
}

/*CONFIGURAÇÕES IMAGENS*/
.imgProduto{
    width: 100%;/*largura de 100% da divProduto*/
}
#divProduto .fa-heart{/*icone de coração*/
    position: absolute;/*posição absolute*/
    top: 15px;/*distancia do top da divProduto*/
    right: 15px;/*distancia da direita da divProduto*/
    font-size: 35px;/*tamanho da letra (do icone em si)*/
    color: #D75A00;/*cor da letra (do icone em si)*/
    transition: all 0.5s;/*tempo da transição*/
}
#divProduto .fa-heart:hover{/*o que acontece quando passa o mouse em cima do logo da coração*/
    transform: scale(1.1);/*aumenta um pouco o coração*/
    cursor: pointer;/*cursor fica possivel clicar*/

}
#divPagamento img{
    width: 35px;/*tamanho das img de pagamentos (bancos, boleto e pix)*/
}

/*VERSÃO PARA TABLET*/
@media only screen and (min-width: 600px) {  
    #divPagamento img{
        width: 44px;/*tamanho das img de pagamentos (bancos, boleto e pix)*/
    }
    #divProduto{
        width: 55vh;/*largura de 60% da divEsquerda*/
        height: 55vh;/*largura de 60% da divEsquerda*/
    }
}

/*VERSÃO PARA COMPUTADOR*/
@media only screen and (min-width: 1024px) { 
    #divContainer{/*Div que pega todos os elementos*/
        flex-direction: row;/*deixa ela em display de linha*/
    }
    #divProduto{
        width: 65vh;/*largura de 60% da divEsquerda*/
        height: 65vh;/*largura de 60% da divEsquerda*/
    }
    #divDireita{
        width: 50%;/*div direita com 50% de largura*/
    }
    #divEsquerda{
        width: 50%;/*div esquerda com 50% de largura*/
    }
}