:root {
    --orange: #D75A00;
    --blue: #0066FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}
#container {
    margin: 60px ;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
}
.mg-60 {
    margin: 0px 60px;
}

.slide-show {
    display: flex;
    width: 100%;
}
.slide-show .slide {
    width: 100%;
    max-height: 100%;
}

.container > h1 {
    margin: 30px 0px;
}
.container > h1 > i {
    color: #fff;
    background-color: var(--orange);
    font-size: 22px;
    padding: 7px;
    border-radius: 50%;
    vertical-align: middle;
}

.container .announcement {
    height: 100px;
    margin: 20px auto;
    margin-bottom: 40px;
    border-radius: 8px;
    border: 1px solid #0000004e;
}

.products-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products-container .item {
    border: 1px solid #00000040;
    border-radius: 10px;
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.products-container .item:hover {
    border: 1px solid var(--orange);
    transform: scale(1.04);
    box-shadow: 0px 0px 10px #00000020;
}
.products-container .item .image {
    width: 80%;
    margin: 10px auto;
}
.products-container .item h2 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #000;
}
.products-container .item .parcela {
    color: #000;
}
.products-container .item .content .last-price {
    color: red;
}
.products-container .item .last-price span {
    text-decoration: line-through;
}
.products-container .item .current-price {
    margin: 10px 0px;
    color: rgb(0, 174, 0);
}
.products-container .item .content > h2 {
    font-size: 18px;
}

@media only screen and (max-width: 1020px) {
    .products-container {
        grid-template-columns: repeat(3, 2fr);
    }
    #container {
        margin: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .products-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    #container {
        margin: 30px;
    }
}