:root {
    --orange: #D75A00;
    --blue: #0066FF;
}

* {
    margin: 0;/*margem externa*/
    padding: 0;/*margem interna*/
    box-sizing: border-box;/*faz o navegador contar as margens do elemento como tamanho dele*/
    outline: 0;/*borda de fora do elemento*/
    font-family: sans-serif;/*tipo de letra*/
    
}
#container {
    margin: 60px ;/*margem externa*/
}
.grid {
    display: grid;/*separa o elemento por grades*/
}
.flex {
    display: flex;/*deixa os elemtnos flexiveis*/
}
body {
    overflow-x: hidden;/*não deixa os elementos ultrapassar a borda*/
}
a {
    text-decoration: none;/*tira a decoração do texto*/
    color: #000;/*cor da letra*/
}
img {
    width: 100%;/*largura maxima*/
}
.mg-60 {
    margin: 0px 60px;/*margem externa*/
}

.slide-show {
    display: flex;/*deia os elementos flexiveis*/
    width: 100%;/*largura maxima*/
}
.slide-show .slide {
    width: 100%;/*largura maxima*/
    max-height: 100%;/*altura maxima*/
}

.container > h1 {
    margin: 30px 0px;/*margem externa*/
}
.container > h1 > i {
    color: #fff;/*cor da letra*/
    background-color: var(--orange);/*cor de fundo*/
    font-size: 22px;/*tamanho da letra*/
    padding: 7px;/*margem interna*/
    border-radius: 50%;/*arredondamento da borda*/
    vertical-align: middle;/*alinhamento na vertical no centro*/
}

.container .announcement {
    height: 100px;/*altura maxima*/
    margin: 20px auto;/*margem externa*/
    margin-bottom: 40px;/*margem externa na parte inferior*/
    border-radius: 8px;/*arredondamento da borda*/
    border: 1px solid #0000004e;/*espeçura e cor da borda*/
}

.products-container {
    grid-template-columns: repeat(4, 1fr);/*vai repitir as colunas uma vez de forma fracionada*/
    gap: 20px;/*espaçamento dos elementos*/
}
.products-container .item {
    border: 1px solid #00000040;/*espeçura e cor da borda*/
    border-radius: 10px;/*arredondamento da borda*/
    padding: 10px;/*margem inetrna*/
    transition: all .2s ease-in-out;/*transicção de movimento*/
    cursor: pointer;/*tipo de mouse*/
}
.products-container .item:hover {
    border: 1px solid var(--orange);/*espeçura e cor da borda*/
    transform: scale(1.04);/**/
    box-shadow: 0px 0px 10px #00000020;/*sombreamento da borda*/
}
.products-container .item .image {
    width: 80%;/*largura maxima*/
    margin: 10px auto;/*margem externa*/
}
.products-container .item h2 {
    font-size: 22px;/*tamanho da letra*/
    margin-bottom: 8px;/*margem externa na parte inferior*/
    color: #000;/*cor da letra*/
}
.products-container .item .parcela {
    color: #000;/*cor da letra*/
}
.products-container .item .content .last-price {
    color: red;/*cor da letra*/
}
.products-container .item .last-price span {
    text-decoration: line-through;/*decoração do texto*/
}
.products-container .item .current-price {
    margin: 10px 0px;/*margem externa*/
    color: rgb(0, 174, 0);/*cor da letra*/
}
.products-container .item .content > h2 {
    font-size: 18px;/*tamanho da fonte*/
}

@media only screen and (max-width: 1020px) {
    .products-container {
        grid-template-columns: repeat(3, 2fr);/*vai repitir as colunas uma vez de forma fracionada*/
    }
    #container {
        margin: 40px;/*margem externa*/
    }
}

@media only screen and (max-width: 600px) {
    .products-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }

    #container {
        margin: 30px;
    }
}