@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); /*link da letra*/
body{
    background-color:#f2f2f2
}
#saair {
        display: flex;
    }

    #sair {
        display: flex;
    }

    .divGeral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #f2f2f2;
        gap: 40px;
        font-family: 'Nunito Sans', sans-serif;
        margin-top: 20px;
    }
    .usuario{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .usuario h1{
        font-size: 30px;
    }
    .usuario p{
        font-size: 20px;
      
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .divForms{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fbfbfb;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.203);
        width: 80%;
    }
    .divFormularios{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .laranja label{
        font-size: 20px;
        font-family: 'Lato';
        font-weight: 600;
       
        color: #ffff;
    }
    .content input{
        width: 100%; /*largura*/
        border: none;/*não tem borda*/
        padding: 8px 8px;/*margem interna*/
        border-radius: 6px; /*curvatura da borda*/
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.203);/*sombra do input*/
        font-size: 1.0rem;/*tamanho da letra*/
        position: relative;/*posição relativa dos outros elementos*/
        margin-bottom: 20px;
    margin-top: 5px;}

    .content label{
        font-size: 20px;
        font-family: 'Lato'; }

    .mudar{
        width: 100%; /*largura*/
        border: none;/*não tem borda*/
        padding: 8px 8px;/*margem interna*/
        border-radius: 6px; /*curvatura da borda*/
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.203);/*sombra do input*/
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 17px;/*tamanho da letra*/
        position: relative;/*posição relativa dos outros elementos*/
        color: #fff;
        background-color: #0066ff;
        font-family: 'Lato';
        font-weight: 600;
        align-items: center; /*centraliza na horizontal*/
        justify-content: center; /*centraliza na vertical*/
      
        
    }
    .laranja{
        width: 100%;
        height: 20%;
        background-color: #d75A00;
        padding: 10px;
        text-align: center;
    }
    .content{
        padding: 10px;
    }
    
    @media screen and (min-width: 1000px) {
        .divFormularios{
            flex-direction: row;
            gap: 10%;
        }
        .divForms{
            width: 40%;
        }
       
    }

    @media screen and (min-width: 1240px) {
        .divFormularios{
            flex-direction: row;
        }
        .divForms{
            width: 35%;
        }
    }